body{
    margin: 0; 
    padding: 0; 
}

.planner{
    display: grid; 
    grid-template-columns: 1;
}

.planner > div{
    background-color: #FFFFFF;
    border: 1px solid black;
}

.day-header h2{
    margin: 0;
    padding-top: 1em; 
}

.day-header{
    text-align: center;
    color: white; 
    background-color: #2467A3;
}

.day-header div{
    display: flex; 
    justify-content: flex-end;
    margin-right: 0.5em;
}

.add-btn{
    border: none;
    border-radius: 5px;
    background-color: #dfe5f3;
    margin-bottom: 0.5em;
}



.task{
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    font-size: 0.8em;
    background-color: #f6f6f9;
    line-height: 2em;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    color: #0c1842;
}

.task-actions{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.remove-btn{
    margin-left: 0.5em;
    border-radius: 5px;
    background-color: #8bbcef;
    color: white;
    border: none;
    padding: 0.5em;
}

.edit-btn{
    border-radius: 5px;
    background-color: #4a9fe6;
    color: white;
    border: none;
    padding: 0.5em;
}

.remove-btn-selected{
    display: none;
}




@media only screen and (min-width: 400px)
{

    .planner{
        display: grid; 
        grid-template-columns: repeat(7, 250px);
        grid-template-rows: repeat(1, minmax(100vh, auto)); 
    }

    .edit-task-container{
        display: flex;
        justify-content: center;

        position: fixed;
        width: 100vw; 
        height: 400px;
        padding: 1em;
        padding-top: 100px;

        top: 0;
        left: 0;
        right: 0; 
    }


    #edit-task-container-remove{
        display: none;

    }   


    .edit-task-container div{
        display: flex; 
        flex-direction: column;
        background-color: #eaedf3;
        padding: 1em;
        border-radius: 5px;
    }

    .edit-task-container button:not(:first-child){
        width: 100px;
        margin-top: 1em;
        align-self: flex-end;
        border-radius: 5px;
        border: none;
        padding: 0.5em;
        background-color: #198ee0;
        color: white;
    }

    .edit-task-container input{
        margin-bottom: 1em;
    }

    .edit-task-container div label{

        align-self: center;
        font-weight: bold;
        margin-bottom: 0.5em;
    }


    #edit-task-close-btn{
        width: 20px;
        background-color: #cad1f1;
        align-self: flex-end;
        border: none;
        height: 20px;
        border-radius: 5px;
        margin-bottom: 1em;
    }






   .edit-task-container form{
       height: 300px;

   }

   

    
}